@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

/* hide default calendar icon for date inputs */
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
  display: none;
}

input {
  field-sizing: content;
  resize: none;
}
