@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

/* hide default calendar icon for date inputs */
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
  display: none;
}
